.body2{
    display: flex;
}

.leftSide{
    width: 25%;
    padding-left: 10px;
    height: 100%;
}

.rightSide{
    width: 85%;
    border: 3px solid rgba(128, 128, 128, 0.308);
    margin-left: 1px;
    
}