*{
  margin: 0;
  padding: 0;
  cursor: pointer;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.searchInput {
  background-color: rgba(241, 239, 239, 0.568);
  border-radius: 10px;
  // padding: -15px;
}

.header--navbar {
  text-decoration: none;
  .header--navbar--nav {
    color: black;
    font-weight: bold;
    &:hover {
      color: rgb(184, 34, 8);
      border-bottom: 3px solid rgb(184, 34, 8);
    }
  }
}

.app--Lists{
  width: 30%;
}
