.miniNav{
    padding: 3%;
    padding-top: 10px;
    .womenStore{
        font-weight: 500;
        font-size: 17px;
        padding-top: 10px;
    }
    .items{
        color: silver;
    }
    .filter{ 
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}